<template>
  <div class="chart-rune">
    <chart :options="chartOptions" />
  </div>
</template>

<script>
import { Chart } from "highcharts-vue";
import Highcharts from 'highcharts';
import utils from '../../utils'

export default {
  components: {
    chart: Chart,
  },
  props: ["color"],
  created() {
    this.chartOptions.series[0].lineColor = this.color;
    this.chartOptions.series[0].color = this.color;
  },
  data() {
    return {
      stakesValues: [],
      chartOptions: {
        chart: {
          type: "areaspline",
          backgroundColor: "transparent",
          height: 210,
          spacingTop: 0,
          spacingRight: 0,
          spacingBottom: 0,
          spacingLeft: 0,
          margin: 0,
        },
        title: { 
          text: "",
        },
        credits: {
          enabled: false,
        },
        xAxis: {
          min:0.49,
          max: 10.49,
          lineColor: "transparent",
          categories: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          labels: {
            enabled: false,
          },
        },
        yAxis: {
          gridLineColor: "transparent",
          lineColor: "transparent",
          title: {
            text: "",
          },
          labels: {
            enabled: false,
          },
        },
        legend: {
          enabled: false,
        },
        time: {
          useUTC: false,
        },
        accessibility: {
          announceNewData: {
            enabled: true,
            minAnnounceInterval: 2500,
            announcementFormatter: function (allSeries, newSeries, newPoint) {
              if (newPoint) {
                return "New point added. Value: " + newPoint.y;
              }
              return false;
            },
          },
        },
        tooltip: {
          valueSuffix: "$"
        },
        plotOptions: {
          series: {
            lineWidth: 2
          },
          spline: {
            marker: {
              enabled: false,
            },
          },
        },
        series: [ 
          {
            lineColor:  '',
            color: '',
            lineWidth: 4,
            fillColor: 'transparent',
            marker: {
              symbol: "circle",
              enabled: false,
            },
            name: "",
            data: [5,6,6,8,6,8,5,6,6,9,6,10,2,1],
          },
        ],
      },
    };
  }
};
</script>

<style lang="scss" scoped>
.chart-rune {
  width: 100%;
}
</style>