/*
    Main css of the pages
    Loads on all pages
*/
$body-bg: #02121D;
$body-color: #fff;

@import "font";
@import "../scss/bootstrap.scss";

$fading-color: #969DAB;
$thor-green-color: #23DCC8;
$thor-white-color: #fff;
$thor-olive-color: #8BC540;
body{
    // it fixes few bugs on ipad safari
    font-size: 16px;
}
.menu-sized-container {
    min-width: 1430px;
    max-width: 1430px;
    margin: 0 auto;
}
.menu-content-sized-container{
    max-width: 1348px;
    min-width: 1348px;
    margin: 0 auto;
}
.outer-container{
    margin: 0 auto;
    width: 1120px;
}
.col,.row{
    margin: 0;
    padding: 0;
}
.fading-color{
    color: $fading-color
}
.thor-green-color{
    color: $thor-green-color
}
.thor-white-color{
    color: $thor-white-color;
}
.thor-olive-color{
    color: $thor-olive-color;
}
.fading-color{
    color: $fading-color
}
.roboto20 {
    font-family: Roboto;
    font-size: 20px;
}

/* Spacing of the content */
.spacing70 {
    height: 70px;
}
.spacing50 {
    height: 50px;
}
.spacing50.textAbove {
    height: 42px !important;
}
.spacing250 {
    height: 250px;
}
.spacing20{
    height: 20px;
}
.spacing100{
    height: 100px;
}

.box-border-red{
    border: 1px dashed red;
}

.box-border-green{
    border: 1px dashed green;
}

.section-header{
    
    p{
        font-size: 24px;
        font-family: Roboto;;
        text-align: left;
        margin-bottom: 24px;
        color: $thor-white-color;
        margin: 0 0 10px 0;
    }
    h2{
        font-size: 59px;
        font-family: "Exo 2";
        font-weight: 700;
        color: $thor-white-color;
        margin: 0 0 20px 0;
    }
    
}

.section-paragraph{
    font-size: 24px;
    font-family: Roboto;;
    text-align: left;
    margin-bottom: 24px;
    line-height: 34px;
    p{
        margin-bottom: 30px;
    }
}

.title-section{
    text-align: center;
    h2 {
        font-family: 'Exo 2';
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        color: $thor-white-color;
    }
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: $fading-color
    }
}

/*iPad Pro 9.7"*/
/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2),
only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2),
/*iPad Pro 10.5"*/
/* Portrait */
only screen
and (min-device-width: 834px)
and (max-device-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2),
/* Landscape */
only screen
and (min-device-width: 1112px)
and (max-device-width: 1112px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2),
/*ipad PRo 12.9"*/
/* Portrait */
only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2),
/* Landscape */
only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2)
{
  .code-snippet{
      font-size: 14px !important;
  }
  .butsir-links a{
  font-size: 12px !important;
  }
  .menu-list {
    padding: 12px 0 10px 0 !important;
  }
  .intro-video-container{
    a{
      padding-bottom: 1px;
    }
  }
}