<template>

  <div class="body-container" :class="{'home-body-container': isHomePage}">
    <BaseHeader />
    <div class="page-content" >
      <Nuxt />
    </div>
    <BaseFooter />
    <ProvideLiquidity v-show="showProvideLiq"/>
    <YoutubeOverlay v-show="showYoutubeOverlay" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import ProvideLiquidity from '../components/provide_liquidity_overlay/ProvideLiquidity.vue';
import YoutubeOverlay from "../components/youtube/YoutubeOverlay.vue";
import smoothscroll from 'smoothscroll-polyfill';

export default {
  components: { ProvideLiquidity, YoutubeOverlay },
  data(){
    return {
      isHomePage: this.$route.path == "/"
    }
  },
  mounted () {
    const base = document.createElement('base')
    base.setAttribute('target', '_blank')
    document.head.appendChild(base)
    console.log("showYoutubeOverlay", this.showYoutubeOverlay)
    smoothscroll.polyfill();
  },
  computed: {
    ...mapGetters(['showProvideLiq']),
    ...mapGetters(['showYoutubeOverlay'])
  },
  watch: {
    showProvideLiq: function(val) {
      if(val == true) 
        document.body.classList.add("provide-open")
      else
        document.body.classList.remove("provide-open")
    },
    $route(to, from) {
      console.log("route changed")
      this.isHomePage= this.$route.path == "/"
    }
  }
}
</script>
<style>
/* Maybe font spacing is needed to be specified */
html {
  min-width: 1500px;
  scroll-behavior: smooth;
}

.body-container {
  font-family: 'Roboto';
  background-color: #02121D;
  min-width: 1430px;
}
.home-body-container{
  background-color: #000B12;
}
.page-content {
  min-height: 30vh;
  color: #969DAB;
  scroll-behavior: smooth;
}

body.provide-open {
  overflow: hidden;
}
</style>