<template>
  <div class="pool-simulate right-sec-box">
    <div class="sim-header row">
      <div class="period">
        <p class="active">ALL</p>
        <p>1W</p>
        <p>1M</p>
        <p>3M</p>
        <p>6M</p>
      </div>
      <div class="col sim-header-item center">
        <p>
          {{ $t("provideLiquidityPage.content")[5]["rightSec"]["header"][0] }}
        </p>
      </div>
      <div class="col sim-header-item">
        <p>
          {{ $t("provideLiquidityPage.content")[5]["rightSec"]["header"][1] }}
        </p>
      </div>
      <div class="col sim-header-item">
        <p>
          {{ $t("provideLiquidityPage.content")[5]["rightSec"]["header"][2] }}
        </p>
      </div>
      <div class="col sim-header-item">
        <p>
          {{ $t("provideLiquidityPage.content")[5]["rightSec"]["header"][3] }}
        </p>
      </div>
    </div>
    <div
      class="sim-items"
      v-for="(item, i) in pools"
      :class="{ active: item.active }"
      :key="i"
    >
      <div class="sim-item" @click="showCollapse(i)">
        <h2 class="sim-item-header">
          {{ item.symbol }}
          <span class="selected" v-if="item.active">SELECTED</span>
        </h2>
        <div class="col symbol sim-item-sec">
          {{ item.chain }}
        </div>
        <div class="col sim-item-sec">
          {{ item.apyTxt }}%
        </div>
        <div class="col sim-item-sec">
          ${{ item.depthTxt }}
        </div>
        <div class="col sim-item-sec">
          ${{ item.volume24hTxt }}
        </div>
      </div>
      <transition name="height">
        <div class="accordion-collapse" v-show="item.active">
          <div class="accordion-body">
            <span class="chart-label">LP vs. HODL</span>
            <chart :options="simulateOptions" />
            <div class="lower-body">
              <div class="sec-1">
                <h4>Simulate LP vs HODL</h4>
                <p>
                  Would you have been better off joining this THORChain
                  Liquidity Pool or HODLing? Enter the amount invested and pick
                  a starting date to find out.
                </p>
              </div>
              <CaretNext class="next-step" />
              <div class="sec-2">
                <div class="input-group">
                  <div class="input-group-text">$</div>
                  <input type="text" placeholder="1,000" />
                </div>
                <input type="text" placeholder="2020-10-01" />
                <button>Simulate</button>
              </div>
              <CaretNext class="next-step" />
              <div class="sec-3">
                <div class="green">+9.6% LP over HODL</div>
                <div class="green">+10% Earned Fees</div>
                <div class="red">-0.8% Impermenent Loss (IL)</div>
                <div class="green">$2,019.97 New Value</div>
                <h2 class="green">+55% APY</h2>
              </div>
            </div>
            <div class="join">
              <button>Join</button>
            </div>
          </div>
          <div class="overlay-soon">
            <span>Coming Soon</span>
          </div>
        </div>
      </transition>
    </div>
    <div class="sim-footer">
      <div class="show-more">
        <span>Show more</span>
      </div>
      <div class="last-update">Last updated 2 minutes ago</div>
    </div>
  </div>
</template>

<script>
import { Chart } from "highcharts-vue";
import CaretNext from "~/assets/images/icons/arrows-chevron-forward.svg?inline";
import utils from "../../utils"

export default {
  components: {
    Chart,
    CaretNext,
  },
  data() {
    return {
      pools: [],
      simItems: [
        {
          header: "Binance Chain Native Token",
          symbol: "BNB",
          apy: "28.84%",
          depth: "$5,012,2970",
          "24h": "$1,205,737",
          active: false,
        },
        {
          header: "Bitcoin BEP2",
          symbol: "BTCB",
          apy: "46.89%",
          depth: "$3,114,798",
          "24h": "$1,091,912",
          active: false,
        },
        {
          header: "ETH BEP2",
          symbol: "ETH",
          apy: "58.49%",
          depth: "$1,149,135",
          "24h": "$115,453",
          active: false,
        },
        {
          header: "BinanceUSD",
          symbol: "BUSD",
          apy: "110.58%",
          depth: "$1,120,084",
          "24h": "$564,795",
          active: false,
        },
        {
          header: "Trust Wallet",
          symbol: "TWT",
          apy: "270.03%",
          depth: "$155,859",
          "24h": "$27,993",
          active: false,
        },
        {
          header: "Travala.com Token",
          symbol: "AVA",
          apy: "118.02%",
          depth: "$154,912",
          "24h": "$26,035",
          active: false,
        },
        {
          header: "Fantom",
          symbol: "FTM",
          apy: "22.34%",
          depth: "$132,622",
          "24h": "$5,886",
          active: false,
        },
        {
          header: "BCH BEP2",
          symbol: "BCH",
          apy: "11.95%",
          depth: "$60,035",
          "24h": "$1,564",
          active: false,
        },
        {
          header: "XRP BEP2",
          symbol: "XRP",
          apy: "22.73%",
          depth: "$39,429",
          "24h": "$12,292",
          active: false,
        },
        {
          header: "COTI",
          symbol: "COTI",
          apy: "20.71%",
          depth: "$35,429",
          "24h": "$3,029",
          active: false,
        },
      ],
      simulateOptions: {
        chart: {
          type: "areaspline",
          backgroundColor: "transparent",
          height: 300,
          spacingTop: 0,
          spacingRight: 0,
          spacingBottom: 0,
          spacingLeft: 0,
          margin: 0,
        },
        title: {
          text: "",
        },
        credits: {
          enabled: false,
        },
        xAxis: {
          lineColor: "transparent",
          labels: {
            enabled: false,
          },
        },
        yAxis: {
          gridLineColor: "transparent",
          lineColor: "transparent",
          title: {
            text: "",
          },
          labels: {
            enabled: false,
          },
        },
        legend: {
          enabled: false,
        },
        time: {
          useUTC: false,
        },
        accessibility: {
          announceNewData: {
            enabled: true,
            minAnnounceInterval: 2500,
            announcementFormatter: function (allSeries, newSeries, newPoint) {
              if (newPoint) {
                return "New point added. Value: " + newPoint.y;
              }
              return false;
            },
          },
        },
        tooltip: {
          valueSuffix: "$",
        },
        plotOptions: {
          series: {
            lineWidth: 2,
          },
          spline: {
            marker: {
              enabled: false,
            },
          },
        },
        series: [
          {
            lineColor: {
              linearGradient: { x1: 0, x2: 1, y1: 0, y2: 0 },
              stops: [
                [0, "#00CCFF"],
                [1, "#23DCC8"],
              ],
            },
            color: {
              linearGradient: { x1: 0, x2: 1, y1: 0, y2: 0 },
              stops: [
                [0, "#00CCFF"],
                [1, "#23DCC8"],
              ],
            },
            lineWidth: 2.5,
            fillColor: "transparent",
            marker: {
              symbol: "circle",
              enabled: false,
            },
            name: "",
            data: [5, 6, 6, 8, 6, 8, 5, 6, 6, 9, 6, 10, 2, 1],
          },
        ],
      },
    };
  },
  mounted() {
    console.log("Pools Table mounted");
  },
  async fetch() {
    console.log("Pool Table fetch called");
    try{
      var res = await this.$services.getPoolsTableData()
      
    if(!res || res.length == 0)
      return
    this.pools = res.map(element => {
      element['active'] = false
      element['depthTxt'] = utils.numberWithCommas(parseInt(element.depth))
      element['volume24hTxt'] = utils.numberWithCommas(parseInt(element.volume24h))
      element['apyTxt'] = parseInt(element.apy * 100)
      return element
      }
    )
    } catch(e){
      console.log("Pools table component fetch error")
      this.pools = []
    }
  },
  methods: {
    showCollapse(i) {
      this.pools.forEach(
        (el, index) => (el.active = index != i ? false : el.active)
      );
      this.pools[i].active = !this.pools[i].active;
    },
  },
};
</script>

<style>
</style>