.chart-holder {
  margin: 0 auto;
  // box-shadow: inset 40px -28px 50px -25px $semiBlack, inset -40px -28px 50px -25px $semiBlack;
  position: relative;
}
.chart-holder-cover {
  pointer-events: none;
  background: $semiBlack;
  background: linear-gradient(
    90deg,
    rgba(2, 18, 29, 1) 2%,
    rgba(2, 18, 29, 0) 20%,
    rgba(2, 18, 29, 0) 80%,
    rgba(2, 18, 29, 1) 98%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.anchor-point {
  display: block;
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  margin-left: -43px;
}

.strips-container {
  margin-top: 289px;
  margin-bottom: 70px;
  position: relative;
  left: -78px;
  width: 43px;

  // .community-pros {
  //   position: sticky;
  //   top: 200px;
  //   z-index: 2;
  //   display: flex;
  //   flex-direction: column;

  //   .avatar-pro {
  //     position: relative;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     margin: 10px 0;
  //     width: 43px;
  //     height: 43px;
  //     border-radius: 50%;
  //     background: -webkit-linear-gradient(45deg, $blueBackground, $blueGreen);
  //     box-shadow: #00CCFF 0px 0px 15px -3px, #33ff99 0px 0px 6px -2px;

  //     img {
  //       cursor: pointer;
  //       width: 43px;
  //       height: 43px;
  //       padding: 3px;
  //       border-radius: 50%;
  //     }

  //     &.active {
  //       background: #F3BA2F;
  //       box-shadow: none;

  //       .content {
  //         display: flex;
  //       }
  //     }

  //     .content {
  //       display: none;
  //       position: absolute;
  //       width: 307px;
  //       height: 60px;
  //       left: 80px;
  //       justify-content: space-between;
  //       align-items: center;
  //       background: #000B12;
  //       padding: 0 31px 0 5px;
  //       border-radius: 12px;
  //       border: 2.3px solid #F3BA2F;
  //       border-left: none;
  //       border-top-left-radius: 0;
  //       border-bottom-left-radius: 0;


  //       span {
  //         color: #F3BA2F;
  //       }

  //       .icons {
  //         display: flex;
  //         align-items: center;

  //         a {
  //           display: inline-block;
  //           width: 18px;
  //           height: 18px;
  //           margin: 0 2.5px;
  //           background-repeat: no-repeat;
  //           margin-top: 6px;
            
  //           &.telegram-icon{
  //             background-image: url('~assets/images/icons/social-telegram-icon.svg');

  //             &:hover {
  //                 background-image: url('~assets/images/icons/social-telegram-icon-hover-yellow.svg');
  //             }
  //           }
  //           &.github-icon{
  //               background-image: url('~assets/images/icons/social-github-icon.svg');

  //               &:hover {
  //                   background-image: url('~assets/images/icons/social-github-icon-hover-yellow.svg');
  //               }
  //           }
  //           &.gitlab-icon{
  //               background-image: url('~assets/images/icons/social-gitlab-icon.svg');

  //               &:hover {
  //                   background-image: url('~assets/images/icons/social-gitlab-icon-hover-yellow.svg');
  //               }
  //           }
  //           &.twitter-icon{
  //               background-image: url('~assets/images/icons/social-twitter-icon.svg');

  //               &:hover {
  //                   background-image: url('~assets/images/icons/social-twitter-icon-hover-yellow.svg');
  //               }
  //           }
  //         }
  //       }

  //       &::before {
  //         display: block;
  //         content: "";
  //         position: absolute;
  //         background-image: url(~assets/images/technical-page/tag-shape.svg);
  //         left: -27px;
  //         background-repeat: no-repeat;
  //         width: 28px;
  //         height: 60px;
  //       }
  //     }
      
  //   }
  // }
}

.outer-container {
  margin: 0 auto;
  width: 1110px;
}

.outer-container {
  position: relative;

  .red-text {
    color: $redBackground;
  }
  .section-col {
    min-width: 490px;
    max-width: 490px;
  }
  h4.section-paragraph {
    margin: 15px 0 15px 0;
    color: $white;
  }
  
  .tssnology {
    text-align: center;
    h3 {
      font-family: "Exo 2";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
    }
  }
  $nav-tab-pad: 20px;
  .navigation-tab {
    display: flex;
    margin-top: -7px;

    .btn-gp {
      margin: 30px auto 0 auto;

      button {
        position: relative;
        font-size: 0.85em;
        font-weight: bold;
        margin: 0 $nav-tab-pad/-2.5;
        padding: $nav-tab-pad/1.3 $nav-tab-pad * 1.1 $nav-tab-pad/1.5
          $nav-tab-pad * 1.1;
        border-radius: 10px;
        border: 1px solid #15242e;
        background-color: transparent;
        color: $white;

        &:disabled {
          color: $semiGray;
          border-radius: 10px 0 0 10px;
          padding-right: 25px;
        }

        .soon {
          font-weight: 300;
          font-size: 0.6em;
          top: 6px;
          position: absolute;
          color: $butSirBackground;
        }

        &.active {
          background-color: $blueBackground;
          background-image: linear-gradient(
            to top right,
            $blueBackground,
            #33ff99
          );
          color: #000;
        }
      }
    }
  }
  .code-snippet {
    background-color: #000b12;
    border: 2px solid #15242e;
    padding: 30px;
    border-radius: 24px;
    min-height: 300px;
    .csnpt-title {
      color: $white;
      font-family: "Roboto Mono";
    }
    .csnpt-code {
      padding-left: 20px;
    }
    pre {
      padding: 0;
      margin: 0;
    }
  }
  .eli5link {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #23dcc8;
  }

  .vault {
    text-align: right;
  }
}
.rewiring-table-new {
  position: relative;
  margin: auto;
  width: 1111px;
  margin-bottom: 80px;
  margin-top: 32px;

  .rewiring-legacy {
    position: relative;
    filter: brightness(150%);
    top: -25px;
    left: 55px;
    .rewiring-header {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
    }
  }
  .reports-and-audits {
    .reports-header-outer {
      text-align: center;
      .reports-header {
        display: inline-block;
        .reports-header-before {
          text-align: left;
          font-family: Roboto;
          font-style: italic;
          font-weight: normal;
          font-size: 20px;
          line-height: 30px;
        }
        .reports-header-title-outer {
          border: 2px solid white;
          border-radius: 24px;
          padding: 30px;
          .reports-header-title {
            text-transform: uppercase;
            font-family: "Exo 2";
            font-style: italic;
            font-weight: 300;
            font-size: 40px;
            line-height: 48px;
          }
          .reports-header-after {
            margin-top: 20px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
  }
  .smokes-and-mirrors {
    .smokes-header-outer {
      text-align: center;
      .smokes-header-title {
        font-family: "Exo 2";
        text-transform: uppercase;
        font-size: 3em;
        font-weight: bold;
        color: $white;
        margin-bottom: -135px;
        margin-top: 145px;
      }
      .smokes-header-after {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .all-transactions-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    a {
      color: #23dcc8;
      text-decoration: none;
    }
  }

  .frame {
    position: absolute;
    top: -45px;
    left: -14px;
  }

  .rewiring-table-content {
    font-family: Roboto;
    width: 1111px;
    margin: 50px auto -15px auto;
    color: #23dcc8;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.1;

    .rewiring-table-row {
      position: relative;
      padding-bottom: 22px;
      left: -14px;
    }

    .compare-states {
      width: 500px;
      text-align: right;

      .rewiring-table-row {
        position: relative;
        margin-right: 50px;
        &::after {
          content: url(~assets/images/technical-page/tron-grids-line.png);
          display: block;
          position: absolute;
          width: 100%;
          background-repeat: no-repeat;
          bottom: -10px;
          left: 5px;
          transform: scaleX(0.98);
        }

        &:last-child::after {
          content: "";
          display: none;
        }
      }
    }

    .box-thorchain {
      position: relative;
      text-align: center;
      margin-left: 70px;

      &::before {
        position: absolute;
        display: block;
        content: "";
        background-image: url(~assets/images/technical-page/rewiring-outline.svg);
        height: 500px;
        width: 400px;
        top: -120px;
        right: -118px;
        background-repeat: no-repeat;
      }

      &::after {
        position: absolute;
        display: block;
        background-image: url(~assets/images/technical-page/thorchain-brand.svg);
        content: "";
        height: 50px;
        width: 200px;
        top: -83px;
        right: 26px;
        background-repeat: no-repeat;
      }
    }

    .box-centralized {
      position: relative;
      text-align: center;
      margin-left: 78px;
      color: $semiGray;

      &::before {
        position: absolute;
        display: block;
        content: "";
        background-image: url(~assets/images/technical-page/centralized-exchange.svg);
        height: 80px;
        width: 225px;
        top: -70px;
        left: -23px;
        background-repeat: no-repeat;
      }
    }

    .box-btn {
      font-family: Roboto;
      position: absolute;
      text-transform: uppercase;
      padding: 15px 18px;
      border-radius: 16px;
      font-weight: 600;
      font-size: 18px;
      width: 242px;
      bottom: -58px;
      left: -20px;
      box-sizing: border-box;

      &.not-comparable {
        color: $white;
        background-color: $redBackground;
      }

      &.but-compatible {
        color: #05212a;
        background-color: #23dcc8;
        left: -33px;
        box-shadow: 0 0 10px rgba(35, 220, 200, 0.5);
      }
    }
  }
}
.annu-box {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 24px;
  padding: 35px 30px 30px 30px;
  clip-path: inset(0 0 0 0 round 25px) !important;
  mask-image: radial-gradient(circle, white 100%, black 100%);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

  .annu-btn {
    border: none;
    display: inline-block;
    background-color: $semiBlack;
    border-radius: 16px;
    color: $white;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 21px;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $semiBlack;
    }
  }
}
.supply-emitted {
  background-color: $borderColor;
  color: #FFF;
  // background: linear-gradient(90deg, #FFFB00 0%, #F625F0 44.02%, #00F6EE 100%);
  // background-clip: text;

  padding-top: 45px;
  background-image: url(~assets/images/technical-page/chart-waves.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 348px;

  h2 {
    width: 672px;
    background: -webkit-linear-gradient(left, #FFFB00 0%, #F625F0 44.02%, #00F6EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Exo 2";
    font-size: 58px;
    font-weight: 830;
    margin-bottom: 0;
  }

  h3 {
    font-family: "Exo 2";
    font-size: 50px;
    font-weight: 800;

    span {
      color: $white;
      text-shadow: 0 0 25px $white;
    }
  }

  .supply-emitted-text {
    margin-top: 31px;
    color: #FFF;
    width: 672px;

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 34px;
      /* or 155% */
    }
  }

  .annu-lower {
    display: flex;
    align-items: center;
    margin-top: 14px;

    .border-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 2px;
      background: linear-gradient(90deg, #FFFB00 0%, #F625F0 58.29%, #00F6EE 100%);
    }

    .gradient-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $borderColor;
      border-radius: 12px;
      font-size: 23px;
      padding: 15px 30px;
      text-decoration: none;
      font-weight: 700;
      color: #fff;

      &:hover {
        background: linear-gradient(270deg, #FFFB00 0%, #F02AF0 47.47%, #01F5EE 100%);
        color: #000000;
      }
    }

    span.fic-graph {
      margin-left: 31px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      color: white;
      margin-left: 25px;
      padding: 16px 0;
    }
  }
  
}
.reports-papers-link img {
  margin-bottom: 0;
}

.report-paper {
  width: 100%;
  height: 350px;
  color: #000;
  background-color: #fff;
  padding: 60px 0 50px 60px;
  border-radius: 24px;
  background-image: url('~assets/images/technical-page/whitepaper.svg');
  background-position: 790px bottom;
  background-repeat: no-repeat;

  .header {
    font-family: 'Exo 2';
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .text {
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0 33px 0;
    font-family: 'Roboto';
  }

  .links {
    margin-top: 33px;

    a {
      display: inline-block;
      font-size: 23px;
      line-height: 32px;
      text-align: center;
      font-weight: 500;
      padding: 16px 30px;
      background-color: #000B12;
      color: #fff;
      border-radius: 12px;
      cursor: pointer;
      text-decoration: none;

      &:not(:first-of-type) {
        margin: 0 10px;
      }

      &:first-of-type {
        margin-right: 10px;
      }

      &:hover {
        color: #000;
        background-color: #FFFF06;
      }
    }
  }
}

